<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
      <ion-searchbar color="primary"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
     
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      
    </ion-item>
  </ion-list>
</ion-content>
